<center>
  <form method="POST">
     
      <label>Insert your age (1-99): </label>
      <input type="number" name="age" min="1" max="99">
      <br />
      <label>Insert your salary: </label>
      <input type="number" name="salary" min="0" max="9999">
      <br />
    <label>Insert your martial status: (0 = single, 1 = married, 2 = divorced) </label>
      <input type="number" name="status" min="0" max="2">
      <input type="submit">
      <br />
      <label>{{ href2 }} </label>
  </form>
</center>
